{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Bienvenue {{ app.user.firstName }} {{ app.user.lastName }} !</h1>
    {% endif %}
{% endblock %}
